.timeCol {
  width: 64px;
  flex-shrink: 0;
  border-right: 1px solid #dedfe5;
  min-height: 1440px;
}

.timeCell {
  height: 60px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 4px 10px 0 0;
  transform: translateY(-9px);

  span {
    font-size: 12px;
    color: #323749;
    letter-spacing: -0.2px;
    white-space: nowrap;
  }
}
